p {
    font-family: "Ubuntu", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}
.logo-font {
    font-family: "Bebas Neue", sans-serif;
}
.hero-heading-font {
    font-family: "Italiana", sans-serif;
}